@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes blinker {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fade-in-out {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes blinker {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--amare-linnea), var(--amare-alta), sans-serif;
}
*,
::after,
::before {
  box-sizing: border-box;
}

html,
body,
#__next {
  background-color: #142636;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow: hidden;

  // remove link
  .react-flow__panel.react-flow__attribution.bottom.right > a,
  .react-flow__edges.react-flow__container,
  .react-flow__edgelabel-renderer {
    display: none;
  }

  .react-flow.blur {
    filter: blur(3px);
  }

  .react-flow__pane {
    cursor: grab;
    will-change: transform;
    &.dragging {
      cursor: grabbing;
    }
    .react-flow__viewport {
      -webkit-transform-origin: 0px 0px;
      transform-origin: 0px 0px;
    }
    .react-flow__nodes {
      will-change: transform;
      .react-flow__node {
        position: absolute !important;
        z-index: -1 !important;
      }
      .react-flow__node[data-id="A"],
      .react-flow__node[data-id="B"],
      .react-flow__node[data-id="C"],
      .react-flow__node[data-id="D"],
      .react-flow__node[data-id="E"],
      .react-flow__node[data-id="F"] {
        visibility: visible !important;
        touch-action: unset !important;
        pointer-events: none !important;
      }

      .react-flow__node[data-id="A"] {
        & > div {
          width: inherit !important;
          height: inherit !important;
          border-radius: 50%;
          z-index: -1;
        }
      }
      .react-flow__node[data-id="B"],
      .react-flow__node[data-id="C"],
      .react-flow__node[data-id="D"],
      .react-flow__node[data-id="E"],
      .react-flow__node[data-id="F"] {
        & > div {
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -webkit-transform: translate3d(0, 0, 0);
          -moz-transform: translate3d(0, 0, 0);
          filter: blur(1.5px);
        }
      }
    }
  }
}

.cue {
  position: absolute;
  opacity: 1;
  visibility: visible;
  width: 100%;
  min-width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-animation-name: fade-out;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade-out;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;

  & > div {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    left: calc(50% - 7vh);
    top: calc(50% - 8vh);
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-animation-name: fade-in-out;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: forwards;
    animation-name: fade-in-out;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    svg {
      width: 8vh;
      height: 8vh;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      filter: blur(0.75px);
    }
    span {
      font-size: 4vh;
    }
  }
}
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  will-change: scroll-position;

  &::-webkit-scrollbar {
    height: 1.5rem;
    width: 1.675rem;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1.25rem 1.25rem transparent;
    border: solid 6px transparent;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 1.25rem 1.25rem white;
    border: solid 0.675rem transparent;
    border-radius: 1.25rem;
    height: 8rem;
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 1.25rem 1.25rem transparent;
  }
}
.parallax {
  position: absolute;
  width: 100%;
  inset: 0;
  touch-action: none;
  will-change: transform;
}
.screen {
  inset: 0;
  position: relative;
  transform: translate3d(0px, 0px, 0px);
  will-change: transform, position;
}
.ball {
  box-shadow: rgb(250, 250, 250) 0px 0px 100px -30px inset,
    rgb(255, 183, 75) 0px 0px max(60px, 10vw) max(60px, 10vw) inset,
    rgb(255, 183, 75) 0px 0px 120px 80px;
  aspect-ratio: 1 / 1;
  position: absolute;
  border-radius: 50%;
  background-color: #fbf1de;
  filter: blur(2px);
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.clouds {
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  div {
    position: fixed;
    transform: translate3d(0px, 0px, 0px);
    will-change: transform;
  }
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.OALogo {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 50;
  opacity: 0;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;

  img {
    width: 15vmax;
    bottom: 3vmax;
    right: 2vmax;
    position: absolute;
  }
}

.about {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000 !important;
  user-select: none;
  opacity: 0;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(169, 199, 161, 1);
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .icon {
    position: absolute;
    width: 4vmax;
    right: 2vmax;
    top: 3vmax;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    z-index: 1001;
    &.invert {
      filter: invert(1);
    }
    &.blinker {
      animation: blinker 4s linear infinite;
    }
  }
  .section {
    overflow-y: auto;
    top: 0%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    color: black;
    width: 100%;
    height: 100%;
    left: 0vw;
    right: 0vw;
    bottom: 0%;
    -webkit-backdrop-filter: blur(500px) opacity(0.5);
    backdrop-filter: blur(500px) opacity(0.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    justify-content: space-evenly;
    display: flex;
    flex-direction: unset;
    align-items: baseline;
    flex-wrap: wrap;
    &.hidden,
    &.hidden > * {
      visibility: hidden;
      opacity: 0;
      max-height: 0%;
    }
    & > div {
      width: 75vw;
      left: 15vw;
      right: 10vw;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      & > div {
        display: block;
        text-align: justify;
        width: 100%;
        max-width: 1000px;
        &.image div {
          width: 100%;
          background-color: rgba(169, 199, 161, 0.8);
          border: 0;
          outline: 0;
          display: flex;
          justify-content: center;
          margin: 2rem 0;
          & > img {
            text-align: center;
            max-width: 70vw;
            max-height: 95vh;
            padding: 0 2vw;
          }
        }
        &.about_oa img,
        &.about_ac img {
          min-width: 12rem;
          width: 15vmax;
          display: block;
          float: right;
        }
        &.about_oa img {
          filter: invert(1);
        }
        &:first-child {
          padding-top: 5rem;
        }
        &:last-child {
          padding-bottom: 10rem;
        }
        h1,
        h2 {
          font-weight: 800;
          display: block;
          line-height: 200%;
          margin-bottom: 1rem;
          font-family: var(--amare-linnea), monospace;
        }
        h1 {
          font-size: calc(38px + 0.8vw);
        }
        h2 {
          font-size: calc(24px + 0.8vw);
        }
        p {
          text-align: justify;
          font-family: var(--amare-alta), monospace;
          vertical-align: middle;
          line-height: calc(24px + 0.8vw);
          font-size: calc(10px + 0.8vw);
          font-weight: 400;
          & > a:link,
          & > a:visited,
          & > a:hover,
          & > a:active {
            font-family: var(--amare-alta), monospace;
            color: black;
          }
        }
      }
    }
  }
}

.button {
  position: absolute;
  bottom: 1.75vmax;
  left: 2vmax;
  opacity: 0;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  button {
    font-size: 5vmin;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.32);
    border-radius: 1.5vmax;
    background-color: rgba(0, 0, 0, 0.52);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 20;
    text-shadow: rgba(55, 0, 255, 1) 0px 0px 5px;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    &:hover {
      border: 1px solid rgba(0, 0, 0, 0.82);
      background-color: rgba(0, 0, 0, 0.2);
      text-shadow: rgba(55, 0, 255, 1) 0px 0px 25px;
      -webkit-transition: all 0.8s;
      transition: all 0.8s;
    }
  }
}

.modal {
  z-index: 125;
  min-width: 60vw;
  min-height: 60vh;
  max-height: 80vh;
  top: 50%;
  left: 50%;
  position: fixed;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  display: grid;
  opacity: 0;
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: 0s;
  animation-fill-mode: forwards;
  @media (width <= 1250px) {
    width: 90vw;
    max-width: 90vw;
  }
  &.delayed {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
  }
  .container {
    position: relative;
    left: -50%;
    top: -50%;
    display: flex;
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--amare-linnea);
    user-select: none;
    width: auto;
    height: auto;
    background-color: #ffed00;
    color: black;
    flex-direction: column;
    max-width: inherit;

    &.patience {
      background-color: #5e68eb;
      border: 1vmax solid #5e68eb;
    }
    &.generosity {
      background-color: #b0b739;
      border: 1vmax solid #b0b739;
    }
    &.action {
      background-color: #0bbee6;
      border: 1vmax solid #0bbee6;
    }
    &.enthusiasm {
      background-color: #51c57e;
      border: 1vmax solid #51c57e;
    }
    &.meditation {
      background-color: #bb50a2;
      border: 1vmax solid #bb50a2;
    }

    & > .iframe,
    & > .iframe > iframe {
      width: 100%;
      height: 100%;
      border: 0;
      outline: 0;
    }

    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-thumb {
      background: #202020;
    }
    ::-webkit-scrollbar-track {
      background-color: transparent;
    }
    .header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0.5rem 0.5rem 1.25rem 0.5rem;
      gap: 0.75rem;
      position: relative;
      white-space: nowrap;
      & > div:not(:first-child) {
        cursor: pointer;
      }
    }
    .label {
      font-size: calc(18px + 0.8vmin);
      font-family: var(--amare-alta);
      color: white;
      flex: 1;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: 125%;
    }
    .close {
      height: 45px;
      width: 45px;
      color: rgb(255, 255, 255, 0.8);
      &::before {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }

      &::after {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      &::before,
      &::after {
        position: absolute;
        content: " ";
        height: 45px;
        width: 6px;
        background-color: rgb(255, 255, 255, 0.8);
      }
      &:hover {
        &::before,
        &::after {
          background-color: rgb(255, 255, 255, 1);
        }
      }
    }
    .left,
    .right {
      width: 0;
      height: 40px;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
    }
    .left {
      margin: 0px 10px;
      border-right: 20px solid rgb(255, 255, 255, 0.8);
      &:hover {
        border-right: 20px solid rgb(255, 255, 255, 1);
      }
    }
    .right {
      border-left: 20px solid rgb(255, 255, 255, 0.8);
      &:hover {
        border-left: 20px solid rgb(255, 255, 255, 1);
      }
    }
  }
}

.node {
  --size-l: 50;
  --size-s: 25;
  --size-micro: 15;
  --size-l-px: 50px;
  --size-s-px: 25px;
  --size-micro-px: 12.5px;
  --common-col-1: #0ff;
  --common-col-2: #2239e1;
  --patience-col-1: #823cf9;
  --generosity-col-1: #ff0;
  --enthusiasm-col-1: #87bb3b;
  --meditation-col-1: #f23982;

  &.micro {
    --size: var(--size-micro);
    --size-px: var(--size-micro-px);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }

  &.small {
    --size: var(--size-s);
    --size-px: var(--size-s-px);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
  }
  &.large {
    --size: var(--size-l);
    --size-px: var(--size-l-px);
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
    text-transform: uppercase;
  }
  &.micro,
  &.small,
  &.large {
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    width: var(--size-px);
    height: var(--size-px);
    border-radius: 50%;
    position: relative;
    cursor: default;
  }
  &.patience {
    --color-1: var(--patience-col-1);
    --color-2: var(--common-col-1);
  }
  &.generosity {
    --color-1: var(--generosity-col-1);
    --color-2: var(--common-col-2);
  }
  &.action {
    --color-1: var(--common-col-1);
    --color-2: var(--common-col-2);
  }
  &.enthusiasm {
    --color-1: var(--enthusiasm-col-1);
    --color-2: var(--common-col-1);
  }
  &.meditation {
    --color-1: var(--meditation-col-1);
    --color-2: var(--common-col-2);
  }
  &.move {
    opacity: 1;
    visibility: visible;
    -webkit-animation-name: fade-out;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-name: fade-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  &.patience,
  &.generosity,
  &.action,
  &.enthusiasm,
  &.meditation {
    &.clicked,
    &.small,
    &.micro {
      background-color: var(--color-1);
    }
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    box-shadow: inset 0 0 calc(var(--size-px) * (var(--size) / 300)) #fff,
      inset calc(20px * (var(--size) / 300)) 0 calc(var(--size-px) * (80 / 300))
        var(--color-1),
      inset calc(calc(-20px * (var(--size) / 300)) * (var(--size) / 300)) 0
        calc(80px * (var(--size) / 300)) var(--color-2),
      inset calc(20px * (var(--size) / 300)) 0 calc(300px * (var(--size) / 300))
        var(--color-1),
      inset calc(-20px * (var(--size) / 300)) 0
        calc(300px * (var(--size) / 300)) var(--color-2),
      0 0 calc(var(--size-px) * (var(--size) / 300)) #fff,
      calc(-10px * (var(--size) / 300)) 0 calc(80px * (var(--size) / 300))
        var(--color-1),
      calc(10px * (var(--size) / 300)) 0 calc(80px * (var(--size) / 300))
        var(--color-2);
    &:hover {
      cursor: pointer;
    }
    &:not(.clicked):hover {
      background-color: var(--color-1);
      transition: background-color 0.5s;
      box-shadow: inset 0 0 calc(20px * (var(--size) / 300)) #fff,
        inset calc(20px * (var(--size) / 300)) 0
          calc(var(--size-px) * (80 / 300)) var(--color-1),
        inset calc(calc(-20px * (var(--size) / 300)) * (var(--size) / 300)) 0
          calc(80px * (var(--size) / 300)) var(--color-2),
        inset calc(20px * (var(--size) / 300)) 0
          calc(300px * (var(--size) / 300)) var(--color-1),
        inset calc(-20px * (var(--size) / 300)) 0
          calc(300px * (var(--size) / 300)) var(--color-2),
        0 0 calc(var(--size-px) * (var(--size) / 300)) #fff,
        calc(-10px * (var(--size) / 300)) 0 calc(80px * (var(--size) / 300))
          var(--color-1),
        calc(10px * (var(--size) / 300)) 0 calc(80px * (var(--size) / 300))
          var(--color-2);
    }
  }

  span {
    position: absolute;
    color: white;
    font-family: var(--amare-alta);
    font-size: 1.25rem;
    text-align: center;
    width: 200px;
    text-shadow: rgba(60, 60, 60, 1) 0px 0px 25px;
    &.color1,
    &.color2,
    &.color3,
    &.color4,
    &.color5 {
      width: auto;
    }
    &.color1 {
      color: #5e68eb;
      bottom: -42px;
      left: -15px;
    }
    &.color1a {
      left: -205px;
      top: -10px;
    }
    &.color2 {
      color: #b0b739;
      bottom: -30px;
      right: 53px;
    }
    &.color2a {
      top: -30px;
      right: -75px;
    }
    &.color2b {
      top: -30px;
      left: -18px;
    }
    &.color2c {
      top: 5px;
      left: -8px;
    }
    &.color2d {
      top: 7px;
      left: -18px;
    }
    &.color2e {
      bottom: -20px;
      left: -30px;
    }
    &.color2f {
      bottom: -20px;
      left: -50px;
    }
    &.color2g {
      width: 120px;
      top: 30px;
      left: -45px;
    }
    &.color3 {
      color: #0bbee6;
      width: 250px;
      top: 40px;
      left: 46px;
    }
    &.color3a {
      top: -30px;
      left: -85px;
    }
    &.color3b {
      top: -30px;
      right: -80px;
    }
    &.color3c {
      top: 2px;
      right: -20px;
    }
    &.color4 {
      color: #51c57e;
      top: -40px;
      right: 50px;
    }
    &.color4a {
      width: 120px;
      bottom: 35px;
      left: -68px;
    }
    &.color4a1 {
      top: -20px;
      left: -28px;
    }
    &.color4a2 {
      top: -12px;
      left: -29px;
    }
    &.color4a3 {
      top: -8px;
      left: -5px;
    }
    &.color4b {
      width: 120px;
      top: -58px;
      left: -38px;
    }
    &.color4b1 {
      top: -18px;
      left: -55px;
    }
    &.color4b2 {
      top: -12px;
      left: -21px;
    }
    &.color4b3 {
      top: 3px;
      left: -30px;
    }
    &.color4c {
      width: 120px;
      bottom: 38px;
      left: -45px;
    }
    &.color4c1 {
      top: -30px;
      left: -55px;
    }
    &.color4c2 {
      bottom: -25px;
      left: -25px;
    }
    &.color4c3 {
      bottom: -25px;
      left: -80px;
    }
    &.color4d {
      top: -5px;
      left: -43px;
    }
    &.color4d1 {
      width: 180px;
      bottom: 0px;
      left: 22px;
    }
    &.color4d2 {
      width: 180px;
      bottom: 0px;
      left: 18px;
    }
    &.color4d3 {
      width: 160px;
      bottom: -23px;
      left: -75px;
    }
    &.color4e {
      top: 30px;
      left: -85px;
    }
    &.color4f {
      width: 130px;
      top: 3px;
      right: 22px;
    }
    &.color4f1 {
      bottom: -24px;
      left: -80px;
    }
    &.color4f2 {
      bottom: -24px;
      left: -107px;
    }
    &.color4f3 {
      width: 100px;
      bottom: -1px;
      left: -4px;
    }
    &.color5 {
      color: #bb50a2;
      left: -35px;
      top: -50px;
    }
    &.color5a {
      width: 120px;
      top: -30px;
      left: -45px;
    }
    &.color5b {
      bottom: -48px;
      right: -80px;
    }
    &.color5c {
      bottom: -30px;
      right: -65px;
    }
  }
  &.large > span {
    font-size: 2rem;
  }
}
