.Node {
  --indent-vertical: -24px;
  --indent-vertical2x: 37px;
  --size-l: 45;
  --size-s: 25;
  --size-micro: 15;
  --size-l-px: 45px;
  --size-s-px: 25px;
  --size-micro-px: 12.5px;
  --common-col-1: #0ff;
  --common-col-2: #2239e1;
  --patience-col-1: #823cf9;
  --generosity-col-1: #ff0;
  --enthusiasm-col-1: #87bb3b;
  --meditation-col-1: #f23982;

  &.micro {
    --size: var(--size-micro);
    --size-px: var(--size-micro-px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
  }

  &.small {
    --size: var(--size-s);
    --size-px: var(--size-s-px);
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
  }
  &.large {
    --size: var(--size-l);
    --size-px: var(--size-l-px);
    transition: box-shadow 0.5s;
  }
  &.micro,
  &.small,
  &.large {
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    width: var(--size-px);
    height: var(--size-px);
    border-radius: 50%;
    position: relative;
    cursor: default;
  }
  &.patience {
    --color-1: var(--patience-col-1);
    --color-2: var(--common-col-1);
  }
  &.generosity {
    --color-1: var(--generosity-col-1);
    --color-2: var(--common-col-2);
  }
  &.action {
    --color-1: var(--common-col-1);
    --color-2: var(--common-col-2);
  }
  &.enthusiasm {
    --color-1: var(--enthusiasm-col-1);
    --color-2: var(--common-col-1);
  }
  &.meditation {
    --color-1: var(--meditation-col-1);
    --color-2: var(--common-col-2);
  }
  &.patience,
  &.generosity,
  &.action,
  &.enthusiasm,
  &.meditation {
    &.clicked,
    &.small,
    &.micro {
      background-color: var(--color-1);
    }
    transition: background-color 0.5s;
    box-shadow: inset 0 0 calc(var(--size-px) * (var(--size) / 300)) #fff,
      inset calc(20px * (var(--size) / 300)) 0 calc(var(--size-px) * (80 / 300))
        var(--color-1),
      inset calc(calc(-20px * (var(--size) / 300)) * (var(--size) / 300)) 0
        calc(80px * (var(--size) / 300)) var(--color-2),
      inset calc(20px * (var(--size) / 300)) 0 calc(300px * (var(--size) / 300))
        var(--color-1),
      inset calc(-20px * (var(--size) / 300)) 0
        calc(300px * (var(--size) / 300)) var(--color-2),
      0 0 calc(var(--size-px) * (var(--size) / 300)) #fff,
      calc(-10px * (var(--size) / 300)) 0 calc(80px * (var(--size) / 300))
        var(--color-1),
      calc(10px * (var(--size) / 300)) 0 calc(80px * (var(--size) / 300))
        var(--color-2);
    &:not(.clicked):hover {
      background-color: var(--color-1);
      transition: background-color 0.5s;
      cursor: pointer;
      box-shadow: inset 0 0 calc(20px * (var(--size) / 300)) #fff,
        inset calc(20px * (var(--size) / 300)) 0
          calc(var(--size-px) * (80 / 300)) var(--color-1),
        inset calc(calc(-20px * (var(--size) / 300)) * (var(--size) / 300)) 0
          calc(80px * (var(--size) / 300)) var(--color-2),
        inset calc(20px * (var(--size) / 300)) 0
          calc(300px * (var(--size) / 300)) var(--color-1),
        inset calc(-20px * (var(--size) / 300)) 0
          calc(300px * (var(--size) / 300)) var(--color-2),
        0 0 calc(var(--size-px) * (var(--size) / 300)) #fff,
        calc(-10px * (var(--size) / 300)) 0 calc(80px * (var(--size) / 300))
          var(--color-1),
        calc(10px * (var(--size) / 300)) 0 calc(80px * (var(--size) / 300))
          var(--color-2);
    }
  }
  span {
    position: absolute;
    color: white;
    font-family: var(--amare-alta);
    font-size: 14px;
    text-align: center;
    width: 140px;
    &.color1,
    &.color2,
    &.color3,
    &.color4,
    &.color5 {
      font-size: 16px;
      width: auto;
    }
    &.color1 {
      color: #5e68eb;
      top: var(--indent-vertical);
      left: 53px;
    }
    &.color1a {
      right: -15px;
      top: var(--indent-vertical2x);
    }
    &.color2 {
      color: #b0b739;
      bottom: var(--indent-vertical);
      right: 53px;
    }
    &.color2a {
      top: var(--indent-vertical);
      left: -60px;
    }
    &.color2b {
      top: var(--indent-vertical);
      left: -18px;
    }
    &.color2c {
      top: 5px;
      left: 7px;
    }
    &.color2d {
      top: 5px;
    }
    &.color2e {
      bottom: -20px;
      left: -30px;
    }
    &.color2f {
      bottom: -20px;
      left: -50px;
    }
    &.color2g {
      width: 100px;
      top: var(--indent-vertical2x);
      left: -45px;
    }
    &.color3 {
      color: #0bbee6;
      width: 160px;
      top: 20px;
      left: 46px;
    }
    &.color3a {
      top: var(--indent-vertical);
      left: -45px;
    }
    &.color3b {
      top: 20px;
      right: 17px;
    }
    &.color3c {
      bottom: var(--indent-vertical);
      left: -70px;
    }
    &.color4 {
      color: #51c57e;
      top: 10px;
      right: 70px;
    }
    &.color4a {
      width: 100px;
      bottom: var(--indent-vertical2x);
      left: -38px;
    }
    &.color4a1 {
      top: -20px;
      right: -5px;
    }
    &.color4a2 {
      top: -20px;
      left: -17px;
    }
    &.color4a3 {
      top: -8px;
      left: -15px;
    }
    &.color4b {
      width: 120px;
      top: 28px;
      left: -38px;
    }
    &.color4b1 {
      top: -18px;
      left: -35px;
    }
    &.color4b2 {
      top: -18px;
      left: -13px;
    }
    &.color4b3 {
      top: 10px;
      left: -15px;
    }
    &.color4c {
      width: 100px;
      bottom: var(--indent-vertical2x);
      left: -38px;
    }
    &.color4c1 {
      top: -18px;
      left: -35px;
    }
    &.color4c2 {
      bottom: -12px;
      left: -15px;
    }
    &.color4c3 {
      bottom: -20px;
      right: -45px;
    }
    &.color4d {
      top: 5px;
      left: 15px;
    }
    &.color4d1 {
      width: 100px;
      bottom: -32px;
      left: -35px;
    }
    &.color4d2 {
      width: 100px;
      bottom: -32px;
      left: -42px;
    }
    &.color4d3 {
      width: 100px;
      bottom: -30px;
      left: -55px;
    }
    &.color4e {
      top: 5px;
      right: 10px;
    }
    &.color4f {
      top: 5px;
      right: -22px;
    }
    &.color4f1 {
      bottom: -2px;
      left: 13px;
    }
    &.color4f2 {
      bottom: -2px;
      left: 9px;
    }
    &.color4f3 {
      width: 100px;
      bottom: -17px;
      left: -15px;
    }
    &.color5 {
      color: #bb50a2;
      top: var(--indent-vertical);
      right: 53px;
    }
    &.color5a {
      width: 100px;
      top: var(--indent-vertical);
      left: -45px;
    }
    &.color5b {
      bottom: var(--indent-vertical);
      right: 15px;
    }
    &.color5c {
      bottom: var(--indent-vertical);
      right: -65px;
    }
  }
}
