.OALogo {
  position: absolute;
  bottom: 0;
  width: 100vw;
  z-index: 50;
  img {
    width: 15%;
    bottom: 3vh;
    right: 2vw;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    //filter: invert(1);
  }
}
